@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(75, 89, 107);
  padding: 0 4em;
  height: 10vh;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.topBar span {
  font-size: 2.2rem;
  font-family: "Merriweather", serif;
  color: rgb(113, 244, 248);
}

.topBar nav {
  min-width: 40vw;
  display: flex;
  justify-content: flex-end;
}

.topBar nav a {
  padding: 0 3%;
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  text-decoration: none;
  color: rgb(215, 224, 226);
}

.displayContainer {
  background-color: rgb(124, 145, 172);
  min-height: 90vh;
  top: 10vh;
  position: absolute;
  width: 100vw;
  overflow: hidden;
}

layoutContainer {
  overflow: hidden;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .line {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: white;
  }

  .topBar nav {
    position: absolute;
    right: 0;
    height: 90vh;
    top: 10vh;
    background-color: rgb(75, 89, 107);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    justify-content: space-around;
    transition: transform 0.5s ease-in;
  }
}

.topBar nav.active {
  transform: translateX(0%);
}

.displayContainer.active {
  filter: blur(1px);
}
