.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.moviePageReleaseDate {
  font-size: 30px;
  font-weight: bold;
}

.moviePageOverview {
  font-size: 25px;
}

.moviePageBackgroundImage {
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
}

.strokeme {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 80px;
}

.genreBadge {
  font-size: 30px;
}

.moviePageImdbLogo {
  height: 100px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    width: 10%;
  }

  .sidenav p {
    font-size: 18px;
  }

  .strokeme {
    font-size: 40px;
  }

  .genreBadge {
    font-size: 30px;
  }
}

@media (max-width: 970px) {
  .sidenav {
    width: 13%;
  }

  .sidenav p {
    font-size: 20px;
  }

  .strokeme {
    font-size: 60px;
  }

  .genreBadge {
    font-size: 25px;
  }

  .moviePageOverview {
    font-size: 18px;
  }

  .moviePageReleaseDate {
    font-size: 20px;
  }

  .moviePagePoster {
    height: 300px;
  }

  .moviePageImdbLogo {
    height: 70px;
  }

  .browsePageSearchBox {
    width: 30rem;
  }
}

@media (max-width: 785px) {
  .sidenav {
    font-size: 20px;
    width: 20%;
  }

  .sidenav p {
    font-size: 15px;
  }

  .strokeme {
    font-size: 50px;
  }

  .genreBadge {
    font-size: 20px;
  }

  .moviePageOverview {
    font-size: 15px;
  }

  .moviePageReleaseDate {
    font-size: 15px;
  }

  .moviePagePoster {
    height: 250px;
  }

  .moviePageImdbLogo {
    height: 50px;
  }
}

@media (max-width: 770px) {
  .browsePageSearchBox {
    width: 20rem;
  }
}

.loadingContainer {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3em;
  color: rgb(218, 228, 231);
}
